.header{
    padding-top:1%;
    background-color:black;
    color:white;


}
.schedule-body{

    background-image: url(/img/new-background.jpg);
    overflow-y:auto;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    background-position: 50% 50%;
    position:absolute;


}