
li:hover {
  color: blue;
}
li.highlight{
    background:black;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.wrap {
  width: 300px;
  min-width: 250px;
  height: 60px;
  position: relative;
  display: table;
}
.wrap .votes {
  border-radius: 3px 0 0 3px;
  display: table-cell;
  min-width: 50px;
  min-height: 60px;
  background: #2980b9;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-weight: 700;
}
.wrap .button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 3px 3px 0;
  display: table-cell;
  text-align: center;
  color: #fff;
  line-height: 60px;
  min-height: 60px;
  background: #3498db;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-left: 1px solid #3498db;
}
.wrap .button i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  transition: all 800ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
  margin: 0 10px 0 0;
}
.wrap .button:hover {
  background: #2980b9;
}
.wrap .button:hover i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  transition: all 800ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
          transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

body {
  font-family: 'Lato', sans-serif;
}

.body{
     background-image: url(/img/event-list.jpg);
     font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
     background-size: cover;
     background-repeat: no-repeat;
     height:100%;
     width:100%;
     background-position: 50% 50%;
     position:absolute;
}